{% extends 'dashboard/item_active.html' %}
{% load crispy_forms_tags %}

{% block content %}

    <div class="row">
        <div class="col-md-1"></div>
        <div class="col-md-5">
                <h2 style="border-bottom: 2px groove darkslategray; padding-bottom: 10px; margin-bottom: 50px">Add New Item Here</h2>



                <form method="POST" enctype="multipart/form-data">




                    {% csrf_token %}
                    <fieldset class="form-group">

                        {{ form|crispy }}
                    </fieldset>

                    <div class="form-group">
                        <button name="addItem" class="btn btn-primary" type="submit">Add</button>
                    </div>
                </form>
                <hr style="color:darkred">
        </div>
        <div class="col-md-1"></div>
        <div class="col-md-4">
            <h3 id="clickMe" style="color: #ffffff;border:1px solid #0a2355; padding:30px; margin-top: 200px; background: radial-gradient(ellipse at top, #e66465, transparent),
            radial-gradient(ellipse at bottom, #4d9f0c, transparent);" class="text-center">Item import & export</h3>
                <div class="text-center card" style="padding: 20px" id="import" hidden>

                        <form method="post" enctype="multipart/form-data">
                            {% csrf_token %}
                            <div class="file-field">
                                <div class="btn BTN-FILE btn-sm float-left text-center" >
                                  <span>Choose file</span>
                                  <input required type="file" name="myFile" id="file"
                                         style="
                                            font-size: 17px;
                                            color: #ff4a55;">
                                </div>
                            </div>
                            <br>
                            <div class="form-group text-center">
                                <button name="itemSubmit" type="submit" class="btn btn-primary btn-lg" style="font-size: 22px; padding-right:40px;">
                                    <i class="pe-7s-upload" style="font-size: 26px"></i>
                                    Upload
                                </button>
                                <a href="{% url 'export_items_csv' %}" class="btn btn-danger btn-lg" style="font-size: 22px; padding-right:40px;">
                                    <i class="pe-7s-download" style="font-size: 26px"></i>
                                    Export
                                </a>
                            </div>
                        </form>

                </div>
        </div>

    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).on('click', '#clickMe', function () {
            $("#import").slideToggle();
        })
    </script>

{% endblock %}
