{% extends 'dashboard/cus.html' %}

{% block script %}
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
        $(document).on('click', '#clickMe', function () {
            $("#import").slideToggle(); 
        })
    </script>
{% endblock %}

{% block content %}

    <div class="text-center">
        {% include 'dashboard/search_bar.html' %}
    </div>
    <br><hr>
        {% csrf_token %}
        <div class="row">
            <div class="col-sm-3 text-center text-capitalize"><h2>Customer Panel</h2></div>
            <div class="col-sm-5">
                <h4 class="text-center" id="clickMe">Import Customer</h4>
                <div class="text-center" id="import" hidden>

                    <form method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                          <div class="file-field">
                            <div class="btn BTN-FILE btn-sm float-left text-center" >
                              <span>Choose file</span>
                              <input required class="text-center" type="file" name="myFile" id="file"
                                     style="
                                        font-size: 17px; margin-left: 80px;
                                        color: #ff4a55;">
                            </div>
                          </div>
                        <br>
                          <div class="form-group text-center">
                                <button name="customerSubmit" type="submit" class="btn btn-primary btn-sm" style="font-size: 20px; padding-right: 17px">
                                    <i class="pe-7s-upload" style="font-size: 26px"></i>
                                    Upload
                                </button>
                              <a href="{% url 'export-customer' %}" class="btn btn-danger btn-sm" style="font-size: 20px; padding-right: 17px">
                                    <i class="pe-7s-download" style="font-size: 26px"></i>
                                    Export
                              </a>
                          </div>
                    </form>

              </div>
            </div>
            <div class="col-sm-2 col-lg-offset-1 "  style="padding-top: 25px; padding-left: 140px">
                <a href="{% url 'add-customer' %}" class="btn btn-danger"><i class="pe-7s-plus text-primary"></i> Add Customer</a>
            </div>
        </div>
        <div class="content table-responsive table-full-width">
            <table class="table">
                <thead style="background-color: #6396e8; color: whitesmoke;">
                    <td style="font-family: 'Noto Sans CJK SC Bold'">ID</td>
                    <td style="font-family: 'Noto Sans CJK SC Bold'">Customer</td>
                    <td style="font-family: 'Noto Sans CJK SC Bold'">Email</td>
                    <td style="font-family: 'Noto Sans CJK SC Bold'">Address</td>
                    <td style="font-family: 'Noto Sans CJK SC Bold'">Phone</td>
{#                    <th></th>#}
                </thead>
                <tbody id="myTable">
                    <style>
                        .odd {
                            background-color: #cdddf7; }

                        .odd td {
                            border-bottom: 1px solid #cef; }
                    </style>
                    {% for customer in customers %}
                        <tr>
                            <td>{{ customer.id }}</td>
                            <td>
                                <a href="{% url 'customer-detail' customer.id %}">
                                    {{ customer.get_customer_name }}
                                </a>
                            </td>
                            <td>{{ customer.email }}</td>
                            <td>{{ customer.address }}</td>
                            <td>{{ customer.phone }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $("tr:odd").addClass("odd");

        });
    </script>
{% endblock %}
