{% extends 'dashboard/cus.html' %}

{% block content %}
    <div class="card">
            <div class="header">
                <h2 style="border-bottom: 2px solid #2b0d68"><i class="pe-7s-cart"></i>Check Items to add to sale list:</h2>
            </div>
            <div class="content">

                <form method="POST">
                {% csrf_token %}
                    <button class="btn btn-primary pull-right" type="submit"><i class="pe-7s-angle-right-circle"></i> TO CART</button>

                    <br><br>
                    <div class="content table-responsive table-full-width" id="checkedTable">
                        <h3><i class="pe-7s-cart" style="font-size: xx-large"></i>Selected Item List:</h3>
                        <table class="table">
                            <thead style="background-color: #2f3a4b; color: whitesmoke;">
                                <td style="font-family: 'Noto Sans CJK SC Bold'">ID</td>
                                <td style="font-family: 'Noto Sans CJK SC Bold'">Item Name</td>
                                <td style="font-family: 'Noto Sans CJK SC Bold'">Quantity</td>
                                <td style="font-family: 'Noto Sans CJK SC Bold'">Purchase Rate</td>
                                <td style="font-family: 'Noto Sans CJK SC Bold'">Sale Rate</td>
                                <td class="text-center" style="font-family: 'Noto Sans CJK SC Bold'">Add to Cart</td>
                            </thead>
                            <tbody id="checkedTableBody"></tbody>
                        </table>
                    </div>
                    <div class="table-responsive table-full-width">
                        <div style="margin: 13px">
                            <style>
                                .cont span {
                                    margin-top: -10px;
                                }
                            </style>
                            {% include 'dashboard/item_table.html' %}
                        </div>

                    </div>
                </form>
            </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $("#checkedTable").hide();
        $(document).on('click', 'input[type="checkbox"]', function () {
            if ($(this).prop('checked') === true) {
                console.log('check');
                $(this).parent().parent().parent().prependTo("#checkedTableBody");
            }
            if ($(this).prop("checked") === false) {
                console.log('uncheck');
                $(this).parent().parent().parent().prependTo("#myTable");
            }
            let i= $("form input[type='checkbox']:checked").length;
            if (i>0) {
                $("#checkedTable").show();
            }
            else {
                $("#checkedTable").hide();
            }
        })
    </script>
{% endblock %}
