{% extends 'dashboard/tran.html' %}

{% block content %}
    <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
                        <div class="card ">
                            <div class="header">
                                <h2 class="title text-center" style="border-bottom: 2px solid darkmagenta">Transaction Detail</h2>
                                {% if transac.customer.get_customer_name %}
                                    <h4 class="simple-text">Customer Name : <span style="font-weight: 500">{{ transac.customer.get_customer_name }}</span></h4>
                                {% elif not transac.customer %}
                                    <h4 class="simple-text">VENDOR NAME : <span style="font-weight: 500">{{ transac.vendor.get_vendor_name }}</span></h4>
                                {% else %}
                                    <h4 class="simple-text">ACTOR: <span style="font-weight: 500">NONE</span></h4>
                                {% endif %}
                            </div>
                            <div class="content" style="font-size: 16px">
                                <div class="row">
                                    <div class="col-md-6">
                                        <p style="font-size: 20px;padding: 0; margin-top: -15px">
                                            Date :
                                            <span style="color:#347826">{{ transac.timestamp }}</span>
                                        </p>
                                    </div>


                                </div><br>
                                <div class="col-md-12 text-center text-danger">Transaction Type: {{ transac.type }}</div>
                                <hr>
                                {% if not transac.type == 'PAYDUE' %}
                                    <div class="content row">
                                        <div class="col-md-2"></div>
                                        <div class=" card col-md-8 table-responsive">
                                            <table class="table table-hover">
                                                <thead style="background-color: #cbd5db">
                                                    <th>Item ID</th>
                                                    <th>Item</th>
                                                    <th class="text-center">Quantity</th>
                                                </thead>
                                                <tbody>
                                                    {% for item in cart_item %}
                                                        <tr>
                                                            <td>{{ item.item.item_code }}</td>
                                                            <td>{{ item.item.item_name }}</td>
                                                            <td class="text-center">{{ item.cart_qty }}</td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div>
                                    </div>
                                {% endif %}

                                <div>
                                    <div class="row text-center">
                                        <div class="col-md-6">
                                            <i class="fa fa-circle text-info"></i>
                                            <span style="font-size: 24px">
                                                Recieved: <span class="text-danger">{{ transac.received }}</span>
                                            </span>
                                        </div>
                                        <div class="col-md-6">
                                            <i class="fa fa-circle text-danger"></i>
                                            <span style="font-size: 24px">
                                                Due: <span class="text-info">{{ transac.due_amount }}</span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                                <hr>
                                <div class="footer">

                                    <div class="stats">

                                        <i class="fa fa-check"></i> Data information certified
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
    <div class="col-md-2"></div>
    </div>

{% endblock %}
