{% extends 'dashboard/inv.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h3 class="title">Add Transaction Detail</h3>
    <hr style="height: 1px; background-color: #DDDDDD">

    <div class="row">
        <div class="col-md-4">
            <div class="card text-center">
                <div class="header">
                    <h3><i class="pe-7s-cart"></i> Your Cart Details:</h3>
                </div>
                <div class="content" style="font-size: large">
                    {% if order.customer %}
                        Customer: <p class="text-danger" style="font-size: large">{{ order.customer }}</p>
                    {% endif %}
                    Item Types: {{ cart_items.count }}<br>
                    Gross Total: <p class="text-danger" style="font-size: large">{{ order.tot_sale_price }}</p>
                    <span style="font-weight: bold">Discount</span>: <span class="text-info">{{ order.disc_amt }}</span> <br>
                    <p style="font-weight: bold">Net Total: <span class="text-danger inline-group" style="font-size: xx-large">{{ order.grand_total }}</span></p>
                </div>
            </div>
        </div>
        <div class="container col-md-4">
            <h3>Transaction Detail</h3>

            <form method="POST" enctype="multipart/form-data" class="col-md-4">
                {% csrf_token %}
                <fieldset class="form-group">
                    <label style="padding-right: 43px">Payment Type</label>
                    <style>
                        select {width: 13em; height: 2.5em}
                    </style>
                    {{ form.payment_type }}
                </fieldset>

                <fieldset class="form-group">
                    {% if not order.customer %}
                        <label style="padding-right: 70px">Customer</label>
                        <style>
                            select {width: 13em; height: 2.5em}
                        </style>
                        {{ form.customer }}
                    {% endif %}

                <br><br>
                    <div class="row" id="pamt">
                        <label class="col-md-5">Payment Amt</label>
                        <input class="col-md-12" type="number" max="{{ order.grand_total }}" min="{{ 0 }}"
                               name="received" class="form-control" style="width: 13.1em; height: 33px; margin-left: 13px">
                    </div>
                </fieldset>
                <div class="form-group">
                    <button class="btn btn-primary" type="submit">Add</button>
                </div>
            </form>


        </div>
    </div>



    <script>

        let e = document.getElementById("id_payment_type");
        e.onchange = function(){
            let p_type = e.options[e.selectedIndex].value;
            if( p_type == 'CREDIT')
                document.getElementById('pamt').style.display = 'none';
            else{
                document.getElementById('pamt').style.display = 'block';
            }
        };
    </script>
{% endblock %}
