{% extends 'dashboard/inv.html' %}
{% load crispy_forms_tags %}


{% block script %}
    <script>

        $(document).ready(function () {
            let c = document.getElementById("id_vendor");
            let c_id = c.options[c.selectedIndex].value;
            console.log(c_id);
            if (c_id === '') {
                document.getElementById('pamt').style.display = 'none';
                $('#id_payment_type > option:not(:selected)').attr('disabled', true);

            } else {
                document.getElementById('pamt').style.display = 'block';
            }
        })

    </script>
{% endblock %}

{% block content %}
    <h3 class="title">Add Transaction Detail</h3>
    <hr style="height: 1px; background-color: #DDDDDD">

    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-4">
            <div class="card text-center">
                <div class="header">
                    <h3 style="border-bottom: 2px solid darkslategray"><i class="pe-7s-cart"></i> Your Cart Details:</h3>
                </div>


                <div class="content" style="font-size: large">
                    {% if order.customer %}
                        Customer: <p class="text-danger" style="font-size: large">{{ order.vendor }}</p>
                    {% endif %}

                    <p style="font-weight: bold">Item Types: <span class="text-success inline-group" style="font-size: large"> {{ cart_items.count }}</span></p>
                    <p style="font-weight: bold">Discount: <span class="text-info inline-group" style="font-size: xx-large">{{ order.disc_amt }}</span></p>
                    <p style="font-weight: bold">Gross Total: <span class="text-primary inline-group" style="font-size: xx-large">{{ order.tot_buy_price }}</span></p>

                    <p style="font-weight: bold">Net Total: <span class="text-danger inline-group" style="font-size: xx-large">{{ order.grand_total }}</span></p>
                </div>
            </div>
        </div>
        <div class="card container col-md-4">
            <div class="header">
                <h3 style="border-bottom: 2px solid darkslategray">
                    <i class="pe-7s-cash"></i>
                    Transaction Detail</h3>
            </div>

            <form method="POST" enctype="multipart/form-data" class="col-md-4">
        {% csrf_token %}
        <fieldset class="form-group">
             <style>
                    select {width: 17em; height: 3em}
             </style>
            <label style="padding-right: 43px">Payment Type</label>
            {{ form.payment_type }}
        </fieldset>
        <fieldset class="form-group">
            {% if not order.vendor %}
                <label style="padding-right: 86px"> Vendor </label>
                 {{ form.vendor }}
            {% endif %}
            <br>
            <div class="row" id="pamt">
                <label class="col-md-5" style="margin-top:3px">Payment Amt</label>
                <input id='recieve' class="col-md-12" type="number" max="{{ order.grand_total }}" min="{{ 0 }}"
                       name="received" class="form-control" style="width: 17em; height: 37px;  margin-left: 13px;margin-bottom: 5px">
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-primary" type="submit">Add</button>
        </div>
    </form>
        </div>
    </div>



    <script>
       let e = document.getElementById("id_payment_type");
        e.onchange = function(){
            let p_type = e.options[e.selectedIndex].value;
            if( p_type === 'CREDIT')
                document.getElementById('pamt').style.display = 'none';
            else{
                document.getElementById('pamt').style.display = 'block';
            }
        };
        let c = document.getElementById("id_vendor");
        c.onchange = function () {
            let c_id = c.options[c.selectedIndex].value;
            console.log(c_id);
            if (c_id === '') {
                console.log('others');

                $("#recieve").prop('readonly', true);
                $("#recieve").prop('required',false);
                $("#id_payment_type").val("CASH").change();
                $('#id_payment_type > option:not(:selected)').attr('disabled', true);
            } else {
                document.getElementById('pamt').style.display = 'block';
                $("#recieve").prop('required',true);
                $('#id_payment_type > option:not(:selected)').attr('disabled', false);
            }
        }
    </script>
{% endblock %}
