{% extends 'dashboard/inv.html' %}
{% load crispy_forms_tags %}

{% block content %}
    <h3 class="title">Add Transaction Detail</h3>
    <hr style="height: 1px; background-color: #DDDDDD">
    <form method="POST" enctype="multipart/form-data" class="col-md-4">
        {% csrf_token %}
        <fieldset class="form-group">
             <style>
                    select {width: 13em; height: 2.5em}
             </style>
            <label style="padding-right: 43px">Payment Type</label>
            {{ form.payment_type }}
        </fieldset>
        <fieldset class="form-group">
            {% if not order.vendor %}
                <label style="padding-right: 86px"> Vendor </label>
                 {{ form.vendor }}
            {% endif %}
            <br><br>
            <div class="row" id="pamt">
                <label class="col-md-5">Payment Amt</label>
                <input class="col-md-12" type="number" max="{{ order.grand_total }}" min="{{ 0 }}"
                       name="received" class="form-control" style="width: 13.1em; height: 33px;">
            </div>
        </fieldset>
        <div class="form-group">
            <button class="btn btn-info" type="submit">Add</button>
        </div>
    </form>

    <script>
        let e = document.getElementById("id_payment_type");
        e.onchange = function(){
            let p_type = e.options[e.selectedIndex].value;
            if( p_type == 'CREDIT')
                document.getElementById('pamt').style.display = 'none';
            else{
                document.getElementById('pamt').style.display = 'block';
            }
        };
    </script>
{% endblock %}