{% extends 'dashboard/inv.html' %}
{% load crispy_forms_tags %}


{% block script %}
    <script>

        //both fields cannot be filled
        $(document).on('keypress', '#id_disc_per', function (e) {
            $("#id_disc_amt").val('');
        });

        $(document).on('keypress', '#id_disc_amt', function (e) {
            $("#id_disc_per").val('');
        });

        $(document).on('click', '#submit', function (e) {
            console.log($(".discountForm").serializeArray());
            oId = $("#oID").attr('value');
            e.preventDefault();
            $.ajax({
                type: "POST",
                url: '{% url 'ajax-discount-form' %}',
                data: {
                    'form_data': $(".discountForm").serializeArray(),
                    'order_id' : oId,
                    'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()
                },
                dataType: 'json',
                success: function (data) {
                    console.log("discout here");
                    console.log(data.discAmount);
                    $('#da').html(data.discAmount);
                    $('#gt').html(data.grandTotal);
                },
                error: function (error) {
                    console.log(error);
                }
            });
        });
    </script>
{% endblock %}

{% block content %}
    <div class="card">
        <div class="header">
            <h3 class="title">Cart Confirm</h3>
        </div>
        <div class="content">
                <div class="content table-responsive table-full-width">
                    <table class="table table-hover table-striped" style="background-color: #3e0bb124">
                        <thead style="background-color: #cbd5db">
                            <td style="font-family: 'Noto Sans CJK SC Bold'">ID</td>
                            <td style="font-family: 'Noto Sans CJK SC Bold'">Item</td>
                            <td style="font-family: 'Noto Sans CJK SC Bold'">Buying Rate</td>
                            <td style="font-family: 'Noto Sans CJK SC Bold'">Selling Rate</td>
                            <td style="font-family: 'Noto Sans CJK SC Bold'">Quantity</td>
                            <td style="font-family: 'Noto Sans CJK SC Bold'">Buying Price</td>
                            <td style="font-family: 'Noto Sans CJK SC Bold'">Selling Price</td>
                        </thead>
                        <tbody>
                            {% for cart_item in cart_items %}
                                <tr>
                                    <td>{{ cart_item.item.item_code }}</td>
                                    <td>{{ cart_item.item.item_name }}</td>
                                    <td>{{ cart_item.item.buying_rate }}</td>
                                    <td>{{ cart_item.item.selling_rate }}</td>
                                    <td>{{ cart_item.cart_qty }}</td>
                                    <td>{{ cart_item.get_cart_buy_price }}</td>
                                    <td>{{ cart_item.get_cart_sale_price }}</td>
                                </tr>
                            {% endfor %}
                            <tr>
                                <td><b>Total</b></td>
                                <td><b>{{ cart_items.count }}</b></td>
                                <td>-</td>
                                <td>-</td>
                                <td><b>{{ carts.quantity }}</b></td>
                                <td><b>{{ order.tot_buy_price }}</b></td>
                                <td><b>{{ order.tot_sale_price }}</b></td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="row">
                    <form class="discountForm" role="form" method="POST">
                        <p id="oID" hidden value="{{ order.id }}"></p>
                        {% csrf_token %}
                        <hr style="height: 1px; background-color: #dddddd">
                        <div class="col-md-5 card" style="padding: 10px; margin: 10px;">
{#                            # margin-left: 80px">#}
                            <h2 class="text-center" style="border-bottom: 2px solid darkred"><i class="pe-7s-gift"></i> Discount:</h2>

                            <div class="text-right">
                                <label for="{{ form.disc_per.id_for_label }}" style="font-size: 16px">
                                    DISCOUNT PERCENTAGE(%)
                                </label>

                                <input class="form-control" type="number" placeholder="%%%"
                                       name="disc_per" step="0.01" id="id_disc_per"
                                       autocomplete="off" min="0" max="100">
                                <label for="{{ form.disc_amt.id_for_label }}" style="font-size: 16px; margin: 7px 0 7px 0">
                                    DISCOUNT AMOUNT
                                </label>
                                <input type="number" name="disc_amt" step="0.01"
                                       id="id_disc_amt" class="form-control"
                                       placeholder="Amount" min="0" max="{{ order.tot_sale_price }}">
                            <br><br>
                            <button id='submit' class="btn btn-primary text-right" type="submit">Add Discount</button>
                        </div>
                        </div>
                        <div class="col-md-5 card" style="padding: 10px; margin: 10px">
                            <h2 class="text-center" style="border-bottom: 2px solid darkred"><i class="pe-7s-settings"></i> Summary:</h2>
                            <div class="row text-center">
                                <div class="col-md-4">
                                    <h3>Gross Total</h3>
                                    <h4><b>{{ order.tot_sale_price }}</b></h4>
                                </div>

                                <div class="col-md-4">
                                    <h3>Discount Amount</h3>
                                    <h4 id="da" class="text-success"><b>{{ order.disc_amt }}</b></h4>
                                </div> entry

                                <div class="col-md-4">
                                    <h3 style="font-size: xx-large; font-weight: bold">Grand Total</h3>
                                    <h4 id='gt' class="text-danger" style="font-size: xx-large; font-weight: bold">{{ order.grand_total }}</h4>
                                </div>
                            </div>
                        </div>

                    </form>
                </div>
                <hr  style="height: 1px; background-color: #dddddd;" class="row">

            <div class="footer">
                {# # TODO place modal close button #}
                <div class="legend">
                    <a href="{% url 'order-transaction' order.id %}" class="btn btn-primary">Continue</a>
                    <a href="{% url 'cart-content' carts.id %}" class="btn btn-warning">Return</a>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
