{% extends 'dashboard/cus.html' %}

{% block script %}
    <script>
        function myFunction() {
            // Declare variables
            var input, filter, table, tr, td, i, txtValue;
            input = document.getElementById("myInput");
            filter = input.value.toUpperCase();
            table = document.getElementById("myTable");
            tr = table.getElementsByTagName("tr");

            // Loop through all table rows, and hide those who don't match the search query
            for (i = 0; i < tr.length; i++) {
                td = tr[i].getElementsByTagName("td")[1];
                if (td) {
                    txtValue = td.textContent || td.innerText;
                    if (txtValue.toUpperCase().indexOf(filter) > -1) {
                        tr[i].style.display = "";
                    } else {
                        tr[i].style.display = "none";
                    }
                }
            }
        }
    </script>
    <script>
        $(document).on('click', "input[type='radio']", function () {
            let tId = $(this).prop('value');
            $.ajax({
                type: "GET",
                url: '{% url 'ajax-check' %}',
                data: {
                    'transaction_id': tId
                    {#'csrfmiddlewaretoken': $("input[name=csrfmiddlewaretoken]").val()#}
                },
                dataType: 'json',
                success: function (data) {
                    if (data.check === 'true') {
                        console.log('trues');
                        $(this).slideToggle();
                        console.log(('happy'))

                    }
                    else {
                        console.log('false');
                    }
                },
                error: function (error) {
                    console.log(error);
                }
            });
        })
    </script>

{% endblock %}

{% block content %}
     <div class="row">
            <div class="col-md-8 col-lg-offset-2">
                <div class="card ">
                    <form method="POST">
                        {% csrf_token %}
                        <div class="header">
                            <div class="media-left">
                                <img class="rounded-circle account-img" src="{{ customer.image.url }}" style="width:150px">
                            </div>
                            <div class="media-body">
                                <h3 class="account-heading">{{ customer.get_customer_name }}</h3>
                                <p class="text-secondary">Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;{{ customer.address }}</p>
                                <p class="text-secondary">Contact &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;: &nbsp;&nbsp;&nbsp;{{ customer.email }}&nbsp;&nbsp;{{ customer.phone }}</p>
                                <p class="text-secondary">Date Created : &nbsp;&nbsp;&nbsp;{{ customer.date_created }}</p>
                            </div>
                            <div class="media-bottom">
                                <div class="legend">
                                    <br>
                                    <a class="btn btn-info" href="{% url 'customer-update' customer.id %}">Update</a>
                                    <a class="btn btn-danger" href="{% url 'customer-delete' customer.id %}">Remove</a>
                                    <a id="DUE" class="btn btn-round btn-primary" href="{% url 'pay-due-customer' customer.id %}">PAY DUE</a>
                                    <a class="btn btn-lg btn-primary pull-right"
                                       style="margin-top: -20px;"
                                       href="{% url 'start-sale' customer.id %}">
                                        START SALE
                                    </a>
                                </div>
                            </div>
                        </div>
                        <div class="content">
                        <h4 class="text-center">TRANSACTION DETAILS</h4>
                        <div class="content table-responsive table-full-width">
                            <table class="table table-striped">
                                <tr>
                                    <td>Total</td>
                                    <td>Items</td>
                                    <td>Received</td>
                                    <td>Due</td>
                                </tr>
                                <tr>
                                    <td></td>
                                    <td>{{ t_item }}</td>
                                    <td>{{ customer.tot_recved }}</td>
                                    <td id="TDUE">{{ customer.tot_due }}</td>
                                </tr>
                            </table>
                        </div>

                        <button type="submit" class="btn btn-danger pull-right" style="font-size: 16px; margin-bottom: 20px; margin-right: 20px">
                            SALE RETURN
                            <i class="pe-7s-back-2" style="font-size: xx-large"></i>
                        </button>

                        <div class="content table-responsive table-full-width">
                            <table class="table table-hover table-striped">
                                <thead style="background-color: #cbd5db">
                                <td style="font-family: 'Noto Sans CJK SC Bold'">ID</td>
                                <td style="font-family: 'Noto Sans CJK SC Bold'">TYPE</td>
                                <td style="font-family: 'Noto Sans CJK SC Bold'">QUANTITY</td>
                                <td style="font-family: 'Noto Sans CJK SC Bold'">PAYMENT AMOUNT</td>
                                <td style="font-family: 'Noto Sans CJK SC Bold'">DUE</td>
                                <td style="font-family: 'Noto Sans CJK SC Bold'">DATETIME</td>
                                <td style="font-family: 'Noto Sans CJK SC Bold'" class="text-center">SALE RETURN</td>
                                </thead>
                                <tbody>
                                {% for transac in transacs %}
                                    <tr>
                                        <td>
                                            <a href="{% url 'transaction_detail' transac.id %}">
                                                {% if transac.order.id %}
                                                    {{ transac.order.id }}
                                                {% else %}
                                                    0 {{ transac.id }}
                                                {% endif %}</a>
                                        </td>
                                        <td>{{ transac.type }}</td>
                                        <td>
                                            {% if transac.order.cart.quantity %}
                                                {{ transac.order.cart.quantity }}
                                            {% else %}
                                                {{ 0 }}
                                            {% endif %}
                                        </td>
                                        <td>{{ transac.received }}</td>
                                        <td>{{ transac.due_amount }}</td>
                                        <td>{{ transac.timestamp|date }}</td>
                                        <td class="text-center">
                                            {% if transac.timestamp|timesince:now < "2 days" or transac.timestamp|timesince:now < '24 hours' or transac.timestamp|timesince:now < '60 minutes' %}
                                                {% if transac.type  != 'PAYDUE' %}
                                                    <input type="radio" name="TPK" value="{{ transac.id }}">
                                                {% else %}
                                                    <input type="radio" name="TPK" value="{{ transac.id }}" disabled>
                                                {% endif %}
                                            {% endif %}
                                        </td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                        </div>
                        <div class="footer">
                            <hr>
                            <div class="stats">
                                <i class="fa fa-check"></i> Data information certified
                            </div>
                        </div>
                    </div>
                    </form>
                </div>
            </div>
     </div>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        let a = document.getElementById('TDUE').innerHTML;
        if (a <= 0){
            document.getElementById('DUE').style.display = 'none'
        }
    </script>
{% endblock %}
