{% extends "dashboard/cus.html" %}
{% load crispy_forms_tags %}
{% block content %}
    <div class="media">
        <div class="media-left">
            <img class="rounded-circle account-img" src="{{ customer.image.url }}" style="width:150px">
        </div>
        <div class="media-body">
            <h3 class="account-heading">{{ customer.get_customer_name }}</h3>
            <p class="text-secondary">{{ customer.email }}</p>
        </div>
    </div>
    <div class="border-bottom mb-4">
        <h3 class="title">Customer Update</h3>
    </div>
    <form method="POST" enctype="multipart/form-data" class="col-md-6">
        {% csrf_token %}
        <fieldset class="form-group">
{#            <legend class="border-bottom mb-4">Profile Update</legend>#}
            {{ form|crispy }}
        </fieldset>
        <div class="form-group">
            <button class="btn btn-info" type="submit">Update</button>
            <button class="btn btn-danger" type="reset">Reset</button>
        </div>
    </form>
{% endblock content %}