{% extends 'dashboard/dashboard.html' %}
{% load static %}

{% block script %}
    <script>
        $(document).ready(function(){
          $("#myInput").on("keyup", function() {
            var value = $(this).val().toLowerCase();
            $("#myTable tr").filter(function() {
              $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
          });
        });
    </script>
{% endblock %}

{% block content %}
    <br>
    <div class="row">
        <div class="col-md-4">
            <div class="card col-md-11 col-xs-offset-1" style="background-color: #46b8da">
                <div class="header">
                    <h4 class="text-center title" style="padding-top: 0px">{{ day }}</h4><hr>
                </div>
                <div class="content">
                    <p>Total Received : {{ stat_day.tot_recvd }}</p>
                    <p>Total Purchased : {{ stat_day.tot_payed }}</p>
                    <p>Total Customer Due : {{ stat_day.tot_recv_due }}</p>
                    <p>Total Purchase Due : {{ stat_day.tot_pay_due }}</p>
                    <p>Total Items Sold : {{ stat_day.tot_items_sold }}</p>
                    <p>Total Items Purchased : {{ stat_day.tot_items_purchased }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card col-md-11 col-lg-offset-1" style="background-color: #ce8483">
                <div class="header">
                    <h4 class="text-center title" style="padding-top: 0px">{{ month }}</h4><hr>
                </div>
                <div class="content">
                    <p>Total Received : {{ stat_month.tot_recvd }}</p>
                    <p>Total Purchased : {{ stat_month.tot_payed }}</p>
                    <p>Total Customer Due : {{ stat_month.tot_recv_due }}</p>
                    <p>Total Purchase Due : {{ stat_month.tot_pay_due }}</p>
                    <p>Total Items Sold : {{ stat_month.tot_items_sold }}</p>
                    <p>Total Items Purchased : {{ stat_month.tot_items_purchased }}</p>
                </div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="card col-md-11 col-xs-offset-1" style="background-color: #46b8da">
                <div class="header">
                    <h4 class="text-center title" style="padding-top: 0px">{{ now.year }}</h4><hr>
                </div>
                <div class="content">
                    <p>Total Received : {{ stat_year.tot_recvd }}</p>
                    <p>Total Purchased : {{ stat_year.tot_payed }}</p>
                    <p>Total Customer Due : {{ stat_year.tot_recv_due }}</p>
                    <p>Total Purchase Due : {{ stat_year.tot_pay_due }}</p>
                    <p>Total Items Sold : {{ stat_year.tot_items_sold }}</p>
                    <p>Total Items Purchased : {{ stat_year.tot_items_purchased }}</p>
                </div>
            </div>
        </div>
    </div>
    <br>
    {% include 'dashboard/search_bar.html' %}<br>
    <form method="POST">
        {% csrf_token %}
        <h3 class="text-center">Latest Transactions</h3><br>
        <div class="content table-responsive table-full-width">
            <table class="table">
                <thead style="background-color: #6396e8; color: whitesmoke;">
                    <td style="font-family: 'Noto Sans CJK SC Bold'">Order ID</td>
                    <td style="font-family: 'Noto Sans CJK SC Bold'">Actor</td>
                    <td style="font-family: 'Noto Sans CJK SC Bold'">Type</td>
                    <td style="font-family: 'Noto Sans CJK SC Bold'">Quantity</td>
{#                    <th>Buy Price</th>#}
{#                    <th>Sale Price</th>#}
                    <td style="font-family: 'Noto Sans CJK SC Bold'">Payment Amount</td>
                    <td style="font-family: 'Noto Sans CJK SC Bold'">Due</td>
                    <td style="font-family: 'Noto Sans CJK SC Bold'">DateTime</td>

                </thead>
                <tbody id="myTable">
                    <style>
                        .odd {
                            background-color: #cdddf7; }

                        .odd td {
                            border-bottom: 1px solid #cef; }
                    </style>
                    {% for trans in transacs %}
                        <tr>
                            <td>

                                {% if trans.order.id %}

                                        {{ trans.order.id }}
{#                                    </a>#}
                                {% else %}
                                    0{{ trans.id }}
                                {% endif %}
                            </td>
                            <td class="text-primary">
                                <a href="{% url 'transaction_detail' trans.id %}">
                                    {% if trans.customer.get_customer_name %}
                                            {{ trans.customer.get_customer_name }}
                                    {% elif trans.vendor.get_vendor_name %}
                                            {{ trans.vendor.get_vendor_name }}
{#                                    {% else %}#}
{#                                        <a href="{% url 'transaction_detail' trans.id %}">#}
{#                                            Others#}
{#                                        </a>#}
                                    {% endif %}
                                </a>
                            </td>
                            <td>{{ trans.type }}</td>
                            <td>
                                {% if trans.order.cart.quantity %}
                                    {{ trans.order.cart.quantity }}
                                {% else %}
                                    {{ 0 }}
                                {% endif %}
                            </td>
{#                            <td>{{ trans.order.tot_buy_price }}</td>#}
{#                            <td>{{ trans.order.tot_sale_price }}</td>#}
                            <td>{{ trans.received }}</td>
                            <td>{{ trans.due_amount }}</td>
                            <td>{{ trans.timestamp|date }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </form>
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script>
        $(document).ready(function(){
            $("tr:odd").addClass("odd");
        });
    </script>
{% endblock %}
