{% extends 'dashboard/user_profile.html' %}

{% block content %}
    <div class="content">
		<div class="container-fluid">
			<div class="row">
				<div class="col-md-6">
{#					<div class="card">#}
						<div class="media">
							<div class="media-left">
								<img class="rounded-circle account-img" src="{{ user.userprofile.image.url }}" style="width:150px">
							</div>
							<div class="media-body">
								<h3 class="account-heading">{{ user.upper_case_name }}</h3>
								<p class="text-secondary">{{ user.email }}</p>
							</div>
						</div>
                        <h4 class="text-center">PROFILE DETAILS</h4>
						<div class="content table-responsive table-full-width">
							<table class="table table-hover table-striped">
								<tbody>
									<tr>
										<td><b>Name:</b></td>
										<td>{{user.get_full_name}}</td>
									</tr>
									<tr>
										<td><b>Email:</b></td>
										<td>{{user.email}}</td>
									</tr>
									<tr>
										<td><b>Address:</b></td>
										<td>{{ user.userprofile.address }}</td>
									</tr>
									<tr>
										<td><b>Phone:</b></td>
										<td>{{user.userprofile.phone}}</td>
									</tr>
								</tbody>
							</table>
						    <a class="btn btn-info" href="{% url 'edit-profile' %}">Edit Profile</a>
						    <a class="btn btn-danger" href="{% url 'change-pw' %}">Change Your Password</a>
						</div>
{#					</div>#}
				</div>
			</div>
		</div>
	</div>
{% endblock %}